{% extends 'base.html' %}

{% block title %}Lista Postów{% endblock %}

{% block content %}
    <h2>Lista Postów</h2>
    
    {% if user.is_authenticated %}
        <a href="{% url 'post_create' %}" class="btn btn-primary">Dodaj nowy post</a>
    {% else %}
        <p><a href="{% url 'login' %}">Zaloguj się, aby dodać nowy post</a></p>
    {% endif %}

    <ul>
        {% for post in posts %}
            <li>
                <h3>{{ post.title }}</h3>
                <p>{{ post.content|truncatewords:30 }}</p>
                <p><a href="{% url 'post_detail' post.pk %}">Czytaj więcej</a></p>
                
                {% if user == post.author %}
                    <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger" onclick="return confirm('Czy na pewno chcesz usunąć ten post?');">Usuń</a>
                {% endif %}
            </li>
        {% empty %}
            <p>Brak postów do wyświetlenia.</p>
        {% endfor %}
    </ul>
{% endblock %}